<h1>Welcome to all our users posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th> Body</th>
    <th>User ID: </th>
  </tr>
  <tr>
  <% @cars.each do |car| %>
    <th> <%= car.title %></th>
    <th> <%= car.body %> </th>
    <th> <%= car.user_id %> </th>
  </tr>
  <% end %>
</table>
<br><br>
<a href="/cars">Click to Add new post</a>
